@keyframes shaker {
    0% { transform: rotate(6deg); }

    5% { transform: rotate(0deg); }

    10% { transform: rotate(-6deg); }

    15% { transform: rotate(0deg); }

    20% { transform: rotate(4deg); }

    25% { transform: rotate(0deg); }

    30% { transform: rotate(-4deg); }

    35% { transform: rotate(0deg); }

    40% { transform: rotate(3deg); }

    45% { transform: rotate(0deg); }

    50% { transform: rotate(-3deg); }

    55% { transform: rotate(0deg); }

    60% { transform: rotate(2deg); }

    65% { transform: rotate(0deg); }

    70% { transform: rotate(-2deg); }

    75% { transform: rotate(0deg); }

    80% { transform: rotate(1deg); }

    85% { transform: rotate(0deg); }

    90% { transform: rotate(-1deg); }

    95% { transform: rotate(0deg); }

    100% { transform: rotate(1deg); }
}

@keyframes background-movement {
    0% { background-position: 0 0; }

    25% { background-position: -100px -100px; }

    75% { background-position: 100px 100px; }

    100% { background-position: 0 0; }
}

@keyframes typewriter {
    0% { opacity: 0; }

    0.01% { opacity: 1; }

    100% { opacity: 1; }
}

/* animation bouton prochainement */

.letter-animation {
    opacity: 0;
    animation: typewriter 10s forwards;
}

@for $item from 0 to 14 {
    .letter-animation:nth-of-type(#{$item}) {
        animation-delay: #{(1 + ($item / 2))}s;
    }
}