/* Colors */
/* Fonts */
/* Width & Height */
/* Page */
.page {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-band {
  height: 8px;
  background-color: #7da453;
}

.title-band {
  height: 72px;
  background-color: white;
}

.title-band a {
  text-decoration: none;
}

.z-over {
  z-index: 10;
}

.shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.resize-for-small-screen {
  height: 72px;
  width: 72px;
  object-fit: cover;
}

.title-1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: -0.2rem;
  color: black;
  line-height: 72px;
  text-indent: 0.3rem;
  margin-right: 1rem;
}

.horizontal-box {
  display: flex;
  justify-content: center;
}

.box-wrap {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1 1 auto;
}

.color-light {
  background-color: #e1ffb1;
}

.menu-card {
  box-sizing: border-box;
  border-top: 1px solid #aed581;
  border-bottom: 1px solid #aed581;
  margin: 8px;
  width: 40vw;
  height: 60vw;
  max-width: 200px;
  max-height: 300px;
  transform-origin: 50% 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
}

.menu-card a {
  position: absolute;
  width: 40vw;
  height: 60vw;
  max-width: 200px;
  max-height: 300px;
}

.menu-card h3 {
  margin-bottom: 0.5rem;
}

.line-break {
  word-spacing: 200px;
}

.menu-card h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#menu-1 h3 {
  font-family: "Eagle Lake", cursive;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
#menu-1 h2 {
  font-family: "Roboto", sans-serif;
}

#menu-2 h3 {
  font-family: "Tangerine", cursive;
  font-size: 2.2rem;
}
#menu-2 h2 {
  font-family: "Lato", sans-serif;
}

#menu-3 h3 {
  font-family: "Poiret One", cursive;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#menu-3 h2 {
  font-family: "Playfair Display", serif;
}

#menu-4 h3 {
  font-family: "Allura", cursive;
  font-size: 2rem;
}
#menu-4 h2 {
  font-family: "EB Garamond", serif;
}

.menu-card:hover {
  animation: shaker 0.6s;
}

.button-next {
  line-height: 16px;
  background-color: #aed581;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: black;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 4px;
}

.footer-content {
  height: 36px;
  background-color: white;
  border-top: 1px solid #aed581;
  margin: 0px 8px 0px 8px;
  display: flex;
  justify-content: center;
}

.footer-content a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 16px;
  text-decoration: none;
  color: #aed581;
  padding: 8px;
  margin-left: 4vw;
  margin-right: 4vw;
  transition: all 0.35s ease-in-out;
}

.footer-content a:hover {
  background-color: #aed581;
  color: white;
}

.bottom-band {
  height: 8px;
  background-color: #7da453;
}

/* pages menu */
.page-menu-1 h1, .page-menu-1 h2 {
  font-family: "Eagle Lake", cursive;
}
.page-menu-1 td {
  font-family: "Roboto", sans-serif;
}

.page-menu {
  background-color: #e1ffb1;
  flex: 1 1 auto;
  padding: 4vw;
}
.page-menu h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
}
.page-menu h2 {
  text-align: center;
  font-size: 1.2rem;
}
.page-menu .bloc-menu {
  margin-top: 1rem;
}
.page-menu .bloc-menu table {
  border-spacing: 0 5px;
}
.page-menu .bloc-menu td {
  font-size: 0.85rem;
  line-height: 1rem;
}
.page-menu .bloc-menu td:nth-child(even) {
  width: 12vw;
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
}
.page-menu .bloc-menu td:nth-child(odd) {
  width: 80vw;
  text-align: left;
}
.page-menu .bloc-title-line {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.page-menu .bloc-title-line .line-left {
  flex: 1 1 auto;
  background: linear-gradient(to left, #aed581, black);
  clip-path: polygon(0 50%, 75% 35%, 85% 50%, 75% 65%);
}
.page-menu .bloc-title-line .line-right {
  flex: 1 1 auto;
  background: linear-gradient(to right, #aed581, black);
  clip-path: polygon(15% 50%, 30% 35%, 100% 50%, 30% 65%);
}

@media (min-width: 768px) {
  .title-1 {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: -0.2rem;
    color: black;
    line-height: 96px;
    text-indent: 0.5rem;
  }

  .title-band {
    height: 96px;
    background-color: white;
  }

  .resize-for-small-screen {
    height: 96px;
    width: 96px;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
