/* Colors */

$primary-color : #aed581;
$primary-light :#e1ffb1;
$primary-dark : #7da453;

/* Fonts */

$frank : 'Frank Ruhl Libre',
serif;
$montserrat : 'Montserrat',
sans-serif;

$menu-1-primary : 'Eagle Lake',
cursive;
$menu-1-secondary : 'Roboto',
sans-serif;

$menu-2-primary : 'Tangerine',
cursive;
$menu-2-secondary : 'Lato',
sans-serif;

$menu-3-primary : 'Poiret One',
cursive;
$menu-3-secondary : 'Playfair Display',
serif;

$menu-4-primary : 'Allura',
cursive;
$menu-4-secondary : 'EB Garamond',
serif;

/* Width & Height */

$menu-width : 40vw;
$menu-height : $menu-width * 1.5;
$max-menu-width : 200px;
$max-menu-height : $max-menu-width * 1.5;
$band-height : 72px;

/* Page */

.page {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-band {
    height: 8px;
    background-color: $primary-dark;
}

.title-band {
    height: $band-height;
    background-color: white;
}

.title-band a {
    text-decoration: none;
}

.move-to-front {
    z-index: 10;
}

.shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.resize-for-small-screen {
    height: $band-height;
    width: $band-height;
    object-fit: cover;
}

.title-1 {
    font-family: $frank;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -0.2rem;
    color: black;
    line-height: $band-height;
    text-indent: 0.3rem;
    margin-right: 1rem;
    word-spacing: -1rem;
}

.horizontal-box {
    display: flex;
    justify-content: center;
}

.box-wrap {
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: auto;
}

.color-light {
    background-color: $primary-light;
}

.menu-card {
    box-sizing: border-box;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    margin: 8px;
    width: $menu-width;
    height: $menu-height;
    max-width: $max-menu-width;
    max-height: $max-menu-height;
    transform-origin: 50% 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: white;
}

.box-wrap a {
    color: black;

}

.menu-card h3 {
    margin-bottom: 0.5rem;
}

.line-break {
    word-spacing: 200px;
}

.menu-card h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#menu-1 {
    h3 {
        font-family: $menu-1-primary;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    h2 {
        font-family: $menu-1-secondary;
    }
}

#menu-2 {
    h3 {
        font-family: $menu-2-primary;
        font-size: 2.2rem;
    }

    h2 {
        font-family: $menu-2-secondary;
    }
}

#menu-3 {
    h3 {
        font-family: $menu-3-primary;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-family: $menu-3-secondary;
    }
}

#menu-4 {
    h3 {
        font-family: $menu-4-primary;
        font-size: 2rem;
    }

    h2 {
        font-family: $menu-4-secondary;
    }
}

.menu-card:hover {
    animation: shaker 0.6s;
}

.button-next {
    line-height: 16px;
    background-color: $primary-color;
    font-family: $montserrat;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 4px;
}

.footer-content {
    height: 36px;
    background-color: white;
    border-top: 1px solid $primary-color;
    margin: 0px 8px 0px 8px;
    display: flex;
    justify-content: center;
}

.footer-content a {
    font-family: $montserrat;
    font-size: 1rem;
    line-height: 16px;
    text-decoration: none;
    color: $primary-color;
    padding: 8px;
    margin-left: 4vw;
    margin-right: 4vw;
    transition: all 0.35s ease-in-out;
}

.footer-content a:hover {
    background-color: $primary-color;
    color: white;
}

.bottom-band {
    height: 8px;
    background-color: $primary-dark;
}

/* animation bouton prochainement */

.letter-animation {
    opacity: 0;
    animation: typewriter 10s forwards;
}

@for $item from 0 to 14 {
    .letter-animation:nth-of-type(#{$item}) {
        animation-delay: #{(1 + ($item / 2))}s;
    }
}

/* pages menu */

.page-menu {

    background-color: $primary-light;
    flex: 1 1 auto;
    padding: 4vw;

    h2 {
        text-align: center;
        font-size: 1.2rem;
    }

    .bloc-menu {
        margin-top: 1rem;

        table {
            border-spacing: 0 5px;
        }

        td {
            font-size: 0.85rem;
            line-height: 1rem;
        }

        td:nth-child(even) {
            width: 12vw;
            text-align: right;
            vertical-align: middle;
            font-weight: bold;
        }

        td:nth-child(odd) {
            width: 80vw;
            text-align: left;
        }

    }

    .bloc-title-line {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

        .line-left {
            flex: 1 1 auto;
            background: linear-gradient(to left, $primary-color, black);
            clip-path: polygon(0 50%, 75% 35%, 85% 50%, 75% 65%);
        }

        .line-right {
            flex: 1 1 auto;
            background: linear-gradient(to right, $primary-color, black);
            clip-path: polygon(15% 50%, 30% 35%, 100% 50%, 30% 65%);
        }

    }

}

.page-menu-1 {

    h1,
    h2 {
        font-family: $menu-1-primary;
    }

    td {
        font-family: $menu-1-secondary;
    }

    .menu-big-title {
        text-align: center;
        font-size: 2rem;
        margin: 0.5rem 0 1.5rem 0;
        line-height: 2.5rem;
        background: radial-gradient(circle at center, $primary-dark, black 35%);
        background-clip: text;
        color: transparent;
        animation: background-movement 20s infinite;
    }


}

.page-menu-2 {

    h1,
    h2 {
        font-family: $menu-2-primary;
    }

    td {
        font-family: $menu-2-secondary;
    }

    .menu-big-title {
        text-align: center;
        font-size: 4rem;
        margin: 0.5rem 0 1.5rem 0;
        line-height: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

}

@media (min-width : 768px) {
    .title-1 {
        font-family: $frank;
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: -0.2rem;
        color: black;
        line-height: 96px;
        text-indent: 0.5rem;
    }

    .title-band {
        height: 96px;
        background-color: white;
    }

    .resize-for-small-screen {
        height: 96px;
        width: 96px;
        object-fit: cover;
    }
}